
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="card col-12 border border-info">
        <div>
          <button type="button" class="close text-primary" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">Object : <%= @email.object %></h5>
          <p class="card-text">Body : <%= @email.body %></p>
          <%= link_to "Delete", email_path(@email), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' }, remote: true %>
          <%= link_to "Unread", email_path(read: false), class: "btn btn-info",id: "btnread", remote: true, method: "put" %>
        </div>
      </div>
    </div>
  </div>
