<div class="contanier">
  <div class="row text-center justify-content-center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= @email.object %></h5>
        <p class="card-text"><%= @email.body %></p>
        <a href="#" class="card-link">Delete</a>
        <a href="#" class="card-link">Unread</a>
      </div>
    </div>
  </div>
</div>
